P { font: 14px arial, helvetica, sans-serif; }
p { font: 14px arial, helvetica, sans-serif; }
H1.title { font: 32px helvetica, sans-serif; color: #3C65C5; }
H2.title { font: 24px helvetica, sans-serif; color: #3C65C5; }
H3.title { font: 20px helvetica, sans-serif; color: #3C65C5; }
H4.title { font: 18px helvetica, sans-serif; color: #3C65C5; }
TABLE { font: 12px helvetica, sans-serif; }
CODE.systemitem { color: brown; }

.navheader TD { font: 10px helvetica, sans-serif; }
.navfooter TD { font: 10px helvetica, sans-serif; }

.toc { font: 16px helvetica, sans-serif; }
.toc P B { font: 20px helvetica, sans-serif; }
.subtitle { font: 24px helvetica, sans-serif italic; }
.list-of-figures { font: 16px helvetica, sans-serif; }
.list-of-figures P B { font: 18px helvetica, sans-serif; }
.bibliography {}

.titlepage { font: 12px helvetica, sans-serif; }
.title { font: 18px helvetica, sans-serif; }
.figure .title { font: 14px helvetica, sans-serif; color: gray; text-align: center; }
.productname { font: helvetica, sans-serif italic; }
.filename { font: helvetica, sans-serif italic;	color: darkred; }
.firstterm { font: 14px helvetica, sans-serif italic; color: darkred; }
.note {	border: 1px solid black; background: #EEEEEE; padding: 2px; margin: 4px; }
.note .title { font: 16px helvetica, sans-serif italic; color: brown; }
.emphasis { }
.quote { }

.orderedlist { font: 14px helvetica, sans-serif; }
.orderedlist P { font: 14px helvetica, sans-serif; }
.itemizedlist { border-top: 1px solid black; border-bottom: 1px solid black; padding-left: 10px; }
.itemizedlist .title { font: 16px helvetica, sans-serif; }
.itemizedlist P { font: 14px helvetica, sans-serif; }
.token { font-weight: bold; }

.screenshot { }
.screenshot IMG { border: 1px solid black; }

.guibutton { border: 1px solid gray; }
.guilabel { color: brown; }
.guimenu { }

.computeroutput { font: courier small-caps; color: brown; }
.screen { font: 12px sans small-caps; border-top: 1px dotted gray; border-bottom: 1px dotted gray; padding-left: 20px; }

.table { font: 12px helvetica, sans-serif; }
.table .title { font: 14px helvetica, sans-serif italic; color: brown; }

.zsection {
	font-family: helvetica, sans-serif;
	font-size: 18px;
}
